@media screen and (min-width: 1280px){
    .gar{
    font-size: 1.5vw;
    text-align: center;
    }
}
@media screen and (max-width: 600px){
    .gar{
    font-size: 10px;
    text-align: center;
    }
}
.gar{
    text-align: center;
    grid-template-columns: 100px 100px 100px;
}
