.btn{
    font-size: 30px;
}
.form:focus{
    color: purple;
    background-color: darkorange;
}
.form{
    font-size: 15px;
}
#date{
    font-size: 20px;
}
.btn:hover{
    background-color: orange;
}
.logo{
    padding: 20px
}